
.cabeçalho{
    margin-bottom: 0px;
    background-color: rgb(02, 01, 104);
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.cabeçalho-título{
    font-size: 54px;
}